<nav class="navbar fixed-top navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">Log My Runz</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Running Log<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/log">View Logs</a></li>
            <li><a href="/createLog">Create Log</a></li>
          </ul>
        </li>
           <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Racing Log<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/race">View Logs</a></li>
            <li><a href="/createRace">Create Log</a></li>
          </ul>
        </li>
           <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Meal Log<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/food">View Logs</a></li>
            <li><a href="/createFood">Create Log</a></li>
          </ul>
        </li>
        <li><a href="/calCount">Calorie Calculator</a></li>
         <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
<center><h2><u><b>Meal Log</u></b></h2><br></center>
<div><center>
<table width = '90%' class="table table-bordered table-condensed table-hover"></center>
<thead class="table-head">
<tr>
  <th></th>
  <th>Date</th>
  <th>Breakfast</th>
  <th>Lunch</th>
  <th>Dinner</th>
  <th>Snack</th>
  <th>Other</th>
  <th>Exercised</th>
</tr>
</thead>
<tbody class="table-body">
{{#each food as |foods|}}
<form method='POST' action="">
  <tr>
    <td><input type='checkbox' name='delete' value='delete'>&nbsp;&nbsp;<input type='submit' value='Delete'><input type='hidden' name='id' value='{{foods._id}}'></td>
    <td>{{foods.date}}</td>
    <td>{{foods.breakfast}}</td>
    <td>{{foods.lunch}}</td>
    <td>{{foods.dinner}}</td>
    <td>{{foods.snack}}</td>
    <td>{{foods.other}}</td>
    <td>{{foods.exercise}}</td>
  </tr>
</form>
{{/each}}
</tbody>
<center></table></center>
</div> </div>

