<nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href='/'>Home</a></li>
            <li><a href='/log'>Running Log</a></li>
            <li><a href='/createLog'>Log Runs</a></li>
            <li><a href='/race'>Racing Log</a></li>
            <li><a href='/createRace'>Log Races</a></li>
            <li><a href='/food'>Meal Log</a></li>
            <li><a href='/createfood'>Log Meals</a></li>
            <li><a href='/calCount'>Calorie Calculator</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">   
            <li class="active"><a href="/logout"> Logout <span class="sr-only"></span></a></li>
          </ul>
        </div>
      </div>
    </nav>
<div>
<center>
<h2>Meal Log</h2><br>
<div>
<br><br>
<table width = '90%'></center>
<tr>
  <th></th>
  <th></th>
  <th>Date</th>
  <th>Breakfast</th>
  <th>Lunch</th>
  <th>Dinner</th>
  <th>Snack</th>
  <th>Other</th>
  <th>Exercised</th>
</tr>
  <tr><td><br></td></tr>
{{#each food as |foods|}}
<form method='POST' action="">
  <tr>
    <td><input type='checkbox' name='delete' value='delete'></td>
    <td><input type='submit' value='Delete'>
    <input type='hidden' name='id' value='{{foods._id}}'></td>
    <td>{{foods.date}}</td>
    <td>{{foods.breakfast}}</td>
    <td>{{foods.lunch}}</td>
    <td>{{foods.dinner}}</td>
    <td>{{foods.snack}}</td>
    <td>{{foods.other}}</td>
    <td>{{foods.exercise}}</td>
  </tr>
  <tr><td><br></td></tr>
</form>
{{/each}}
<center></table></center>
</div> 

