<nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href='/'><u><b>Home</b></u></a></li>
            <li><a href='/log'><u><b>My Running Log</b></u></a></li>
            <li><a href='/createLog'><u><b>Create Run Log</b></u></a></li>
            <li><a href='/race'><u><b>My Racing Log</b></u></a></li>
            <li><a href='/createRace'><u><b>Create Race Log</b></u></a></li>
            <li><a href='/food'><u><b>My Meal Log</b></u></a></li>
            <li><a href='/createfood'><u><b>Create Meal Log</b></u></a></li>
            <li><a href='/calCount'><u><b>Calorie Calculator</b></u></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">   
          <li class="active"><a href="/logout"><u><b>Logout</b></u><span class="sr-only"></span></a></li>
          </ul>
        </div>
      </div>
    </nav>
<div>
<center><h2><u><b>Meal Log</u></b></h2><br></center>
<div><center>
<table width = '90%' class="table table-bordered table-hover"></center>
<tr class="active">
  <th></th>
  <th>Date</th>
  <th>Breakfast</th>
  <th>Lunch</th>
  <th>Dinner</th>
  <th>Snack</th>
  <th>Other</th>
  <th>Exercised</th>
</tr>
{{#each food as |foods|}}
<form method='POST' action="">
  <tr>
    <td><input type='checkbox' name='delete' value='delete'>&nbsp;&nbsp;<input type='submit' value='Delete'><input type='hidden' name='id' value='{{foods._id}}'></td>
    <td>{{foods.date}}</td>
    <td>{{foods.breakfast}}</td>
    <td>{{foods.lunch}}</td>
    <td>{{foods.dinner}}</td>
    <td>{{foods.snack}}</td>
    <td>{{foods.other}}</td>
    <td>{{foods.exercise}}</td>
  </tr>
</form>
{{/each}}
<center></table></center>
</div> 

