<center>
<h1>Running Log</h1>
<br>
<div>
<form method='POST' action=''>
	<fieldset>
    <label>Type:</label>
	<input type='radio' name='type' value='dailyRun' id='dailyRun'><label for="dailyRun">Daily Run</label><br>
	<input type='radio' name='type' value='workout' id='workout'><label for="workout">Workout</label><br>
	<input type='radio' name='type' value='tempoRun' id='tempoRun'><label for="tempoRun">Tempo Run</label><br>
	<input type='radio' name='type' value='fartlek' id='fartlek'><label for="fartlek">Fartlek</label><br>
	<input type='radio' name='type' value='logRun' id='logRun'><label for="logRun">Log Run</label><br>
	<input type='radio' name='type' value='other' id='other'><label for="other">Other</label><br>
	</fieldset>
	<label for="date">Date:</label><input type='text' name='date' value='' id='date'><br>
	<label for="pace">Pace:</label><input type='text' name='pace' value='' id='pace'><br>
	<label for="description">Description:</label><input type='text' name='description' value='' id='description'><br>
	<label for="goals">Goals:</label><input type='text' name='goals' value='' id='goals'><br>
	<label for="comments">Comments:</label><input type='text' name='comments' value='' id='comments'><br>
	<label for="location">Location:</label><input type='text' name='location' value='' id='location'><br>
	<input type='submit' value='Submit'>
</form>
</div>

{{#each log as |logged|}}
<form method='POST' action=''>

<div>
<input type='radio' name='delete' value='delete' id='dailyRun'><label for="delete">Delete</label><br>
			{{logged.type}}<br>
			{{logged.description}}<br>
			{{logged.pace}}<br>
			{{logged.goals}}<br>
			{{logged.comments}}<br>
			{{logged.location}}<br>
			{{logged.date}}<br>
			<input type='submit' value='Delete'>
	</div>
</form>
{{/each}}
</center>
