<div>
<a href='/create'>Create New Log</a></div>
<div>

{{#each log as |logged|}}
<form method='POST' action="">

<table>
	<tr>
		<td><input type='checkbox' name='delete' value='delete'><input type='submit' value='Delete'> |
		<input type='hidden' name='id' value='{{logged._id}}'</td>
		<td>{{logged.type}} |</td>
		<td>{{logged.description}} |</td>
		<td>{{logged.pace}} |</td>
		<td>{{logged.goals}} |</td>
		<td>{{logged.comments}} |</td>
		<td>{{logged.location}} |</td>
		<td>{{logged.date}} </td>
	</tr>
</table>
<hr>

</form>
{{/each}}

</div>