<nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href='/'>Home</a></li>
            <li><a href='/log'>Running Log</a></li>
            <li><a href='/createLog'>Log Runs</a></li>
            <li><a href='/race'>Racing Log</a></li>
            <li><a href='/createRace'>Log Races</a></li>
            <li><a href='/food'>Meal Log</a></li>
            <li><a href='/createfood'>Log Meals</a></li>
            <li><a href='/calCount'>Calorie Calculator</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">   
            <li class="active"><a href="/logout"> Logout <span class="sr-only"></span></a></li>
          </ul>
        </div>
      </div>
    </nav>
<div>
<center>
<h2>Running Log</h2><br>
<div>
<br><br>
<table width = '90%'></center>
<tr>
  <th></th>
  <th></th>
  <th>Date</th>
  <th>Type</th>
  <th>Description</th>
  <th>Pace</th>
  <th>Goals</th>
  <th>Comments</th>
  <th>Location</th>
</tr>
  <tr><td><br></td></tr>
{{#each log as |logged|}}
<form method='POST' action="">
  <tr>
    <td><input type='checkbox' name='delete' value='delete'></td>
    <td><input type='submit' value='Delete'>
    <input type='hidden' name='id' value='{{logged._id}}'></td>
    <td>{{logged.date}}</td>
    <td>{{logged.type}}</td>
    <td>{{logged.description}}</td>
    <td>{{logged.pace}}</td>
    <td>{{logged.goals}}</td>
    <td>{{logged.comments}}</td>
    <td>{{logged.location}}</td>
  </tr>
  <tr><td><br></td></tr>
</form>
{{/each}}
<center></table></center>
</div> 

