<div>
<center>
<h2>Running Log</h2><br>
<div>
<br><br>
<table width = '90%'></center>
<tr>
	<th></th>
	<th></th>
	<th>Date</th>
	<th>Type</th>
	<th>Description</th>
	<th>Pace</th>
	<th>Goals</th>
	<th>Comments</th>
	<th>Location</th>
</tr>
{{#each log as |logged|}}
<form method='POST' action="">
	<tr>
		<td><input type='checkbox' name='delete' value='delete'></td>
		<td><input type='submit' value='Delete'>
		<input type='hidden' name='id' value='{{logged._id}}'></td>
		<td>{{logged.date}}</td>
		<td>{{logged.type}}</td>
		<td>{{logged.description}}</td>
		<td>{{logged.pace}}</td>
		<td>{{logged.goals}}</td>
		<td>{{logged.comments}}</td>
		<td>{{logged.location}}</td>
	</tr>

<hr>
</form>
{{/each}}
<center></table></center>
</div> 

