<div>
<h2>Racing Log</h2><br>
<a href='/log'>View Running Logs</a> | <a href='/createLog'>Log New Run</a> | <a href='/createRace'>Log New Race</a>
<div>
<br><br>
{{#each race as |raced|}}
<form method='POST' action="">

<table>
	<tr>
		<td><input type='checkbox' name='delete' value='delete'><input type='submit' value='Delete'> |
		<input type='hidden' name='id' value='{{raced._id}}'</td>
		<td>{{raced.date}} |</td>
		<td>{{raced.distance}} |</td>
		<td>{{raced.time}} |</td>
		<td>{{raced.comments}} |</td>
		<td>{{raced.location}} </td>
	</tr>
</table>
<hr>

</form>
{{/each}}

</div>