<nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
         <li><a href='/'>Home</a></li>
           <li><a href='/log'>Running Log</a></li>
            <li><a href='/createLog'>Log Runs</a></li>
           <li><a href='/race'>Racing Log</a></li>
           <li><a href='/createRace'>Log Races</a></li>
          </ul>
     <ul class="nav navbar-nav navbar-right">   
            <li><a href='/food'>Meal Log</a></li>
            <li><a href='/createfood'>Log Meals</a></li>
            <li><a href='/calCount'>Calorie Calculator</a></li>
            <li class="active"><a href="/logout"> Logout <span class="sr-only"></span></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
<div>
<center>
<h2>Racing Log</h2><br>
<div>
<br><br>
<table width = '90%'></center>
<tr>
	<th></th>
	<th></th>
	<th>Date</th>
	<th>Distance</th>
	<th>Time</th>
	<th>Comments</th>
	<th>Location</th>
</tr>
<tr><td><br></td></tr>
{{#each race as |raced|}}
<form method='POST' action="">
	<tr>
		<td><input type='checkbox' name='delete' value='delete'></td>
		<td><input type='submit' value='Delete'><input type='hidden' name='id' value='{{raced._id}}'</td>
		<td>{{raced.date}}</td>
		<td>{{raced.distance}}</td>
		<td>{{raced.time}}</td>
		<td>{{raced.comments}}</td>
		<td>{{raced.location}}</td>
	</tr>
	<tr><td><br></td></tr>
</form>
{{/each}}
<center></table></center>
</div>
