<nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href='/'><u><b>Home</b></u></a></li>
            <li><a href='/log'><u><b>My Running Log</b></u></a></li>
            <li><a href='/createLog'><u><b>Create Run Log</b></u></a></li>
            <li><a href='/race'><u><b>My Racing Log</b></u></a></li>
            <li><a href='/createRace'><u><b>Create Race Log</b></u></a></li>
            <li><a href='/food'><u><b>My Meal Log</b></u></a></li>
            <li><a href='/createfood'><u><b>Create Meal Log</b></u></a></li>
            <li><a href='/calCount'><u><b>Calorie Calculator</b></u></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">   
          <li class="active"><a href="/logout"><u><b>Logout</b></u><span class="sr-only"></span></a></li>
          </ul>
        </div>
      </div>
    </nav>
<div>
<center>
<h2>Racing Log</h2><br>
<div>
<br><br>
<table width = '90%' class="table table-bordered table-hover"></center>
<tr class="active">
  <th></th>
  <th>Date</th>
  <th>Event</th>
  <th>Time</th>
  <th>Pace</th>
  <th>Notes</th>
  <th>Meet</th>
  <th>Location</th>
</tr>
{{#each race as |raced|}}
<form method='POST' action="">
  <tr>
    <td><input type='checkbox' name='delete' value='delete'>&nbsp;&nbsp;<input type='submit' value='Delete'><input type='hidden' name='id' value='{{raced._id}}'</td>
    <td>{{raced.date}}</td>
    <td>{{raced.events}}</td>
    <td>{{raced.time}}</td>
    <td>{{raced.pace}}</td>
    <td>{{raced.notes}}</td>
    <td>{{raced.meet}}</td>
    <td>{{raced.location}}</td>
  </tr>
</form>
{{/each}}
<center></table></center>
</div>
