<nav class="navbar fixed-top navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">Log My Runz</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Running Log<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/log">View Logs</a></li>
            <li><a href="/createLog">Create Log</a></li>
          </ul>
        </li>
           <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Racing Log<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/race">View Logs</a></li>
            <li><a href="/createRace">Create Log</a></li>
          </ul>
        </li>
           <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Meal Log<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/food">View Logs</a></li>
            <li><a href="/createFood">Create Log</a></li>
          </ul>
        </li>
        <li><a href="/calCount">Calorie Calculator</a></li>
         <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
<center><h2><u><b>Racing Log</u></b></h2><br></center>
<div class ="col-xs-3"> 
<form>
<input name="filter"  type="text" class="form-control" onkeyup="search(this, 'results')" type="text" placeholder="search">
</form></div>
<div>
<center>
<table width = '90%' id="results" class="table table-bordered table-condensed table-hover"></center>
<thead class="table-head">
<tr>
  <th></th>
  <th id="date">Date</th>
  <th id="evnt">Event</th>
  <th id='ti'>Time</th>
  <th>Pace</th>
  <th>Notes</th>
  <th>Meet</th>
  <th>Location</th>
</tr>
</thead>
<tbody id="tb"class="table-body">
{{#each race as |raced|}}
<form method='POST' action="">
  <tr>
    <td><input type='checkbox' name='delete' value='delete'>&nbsp;&nbsp;<input type='submit' value='Delete'><input type='hidden' name='id' value='{{raced._id}}'</td>
    <td>{{raced.date}}</td>
    <td>{{raced.events}}</td>
    <td>{{raced.time}}</td>
    <td>{{raced.pace}}</td>
    <td>{{raced.notes}}</td>
    <td>{{raced.meet}}</td>
    <td>{{raced.location}}</td>
  </tr>
</form>
{{/each}}
</tbody>
<center></table></center>
</div> </div>